/* 画面全体高さ、背景 */
body {
    height: 100vh;
    background-image: radial-gradient(circle, #fff 0% 35%,#c5f1dc 50% 55%, #efb63b 90% 100%);
}

/* google fonts */
.rocknroll-one-regular {
  font-family: "RocknRoll One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

/* おみくじ結果画面の全体表示設定 */
.container2 {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 90vh;
}

/* titleサイズ固定 */
.title {
  font-size: 3.5rem;
}

/* おみくじ箱のトリミング・サイズ・傾き調整 */
.omikujiBako {
  object-view-box: inset(20px);
  width: 70%;
  height: auto;
  animation-name: anim_s;
  transform: rotate(20deg);
  animation-duration: 5s;
}

/* おみくじ箱アニメ */
.animation{
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 3s;
  width: 128px;
}

@keyframes anim_s {
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

/* おみくじを引くボタンの位置調整 */
.drawBtn {
  margin-top: 70px;
}

/* h2サイズ固定 */
h2 {
  font-size: 2rem;
}

/* about,developersコンテンツ共通の位置調整 */
.allContents {
    position: relative;
    top: 5%;
}

/* このおみくじについての枠 */
.aboutBox {
    width: 400px;
    height: auto;
    background: #f6e978;
    box-shadow: 0px 0px 0px 10px #f6e978;/*線の外側*/
    border: dashed 2px #f7693e;/*破線*/
    border-radius: 9px;
    margin-left: 10px;/*はみ出ないように調整*/
    margin-right: 10px;/*はみ出ないように調整*/
    padding: 5px 5px 5px 5px;
}

/* 開発者一覧の枠 */
.developers {
    width: 250px;
    height: auto;
    background: #ffc3c3;
    box-shadow: 0px 0px 0px 10px #ffc3c3;/*線の外側*/
    border: dashed 2px #f7693e;/*破線*/
    border-radius: 9px;
    margin-left: 10px;/*はみ出ないように調整*/
    margin-right: 10px;/*はみ出ないように調整*/
    padding: 5px;
}

/* リストの調整（このおみくじについて＆開発者一覧） */
ul{
    padding-left: 5px;
}

ul li {
  color: rgb(51, 50, 50);
  border-left: solid 8px rgb(242, 99, 99);/*左側の線*/
  background: whitesmoke;/*背景色*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  margin-bottom: 15px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 7px;
  list-style-type: none!important;
}

/* おみくじ結果の枠とy軸回転エフェクト */
.resultBox {
    width: 350px;
    height: auto;
    animation: rotateY 0.5s;
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform:rotateY(360deg);
  }
  
}

 /* おみくじ結果（内枠のスタイル） */
.resultBox {
  display: inline-block;
  position: relative;
  padding: 2px;
  border: dashed 2px #de7d9e;
}
  /* 外枠のスタイル */
.resultBox::before {
  content: "";
  background-color: white;
  position: absolute;
  top: -9px;
  bottom: -9px;
  left: -9px;
  right: -9px;
  border: solid 5px #db7093;
  z-index: -1;
}

/* 結果画像のトリミング、リサイズ */
.resultImg {
  object-view-box: inset(270px 50px 230px 50px);
  width: 75%;
  height: 75%;
}

/* 大吉～凶のフォントサイズ */
.fortuneTitle {
    font-size: 5rem;
}

/* ボタン部分 */
.button-style {
    background:#fd7403;
    color:#fff;
    border-radius: 3em;
    border-color: #fd7403;
    padding: 10px 20px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;

}
 
/* ボタンホバー */
.button-style:hover {
    background: transparent;
    color: #fd7403;
}
 
 